@import '../../assets/scss/colors';

h1 {
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/images/background2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-container {
  text-align: center;
}

.form-container {
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px 40px;
  max-width: 400px;
  width: 95%;
}

.login-form {
  .form-group {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    input {
      padding: 10px;
      width: 80%;
      border: none;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
      border-radius: 8px;
    }
  }
}
.login-alert {
  text-align: center;
  display: block;
  background-color: #d10808;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}